.card {
    box-shadow: 0px 10px 20px grey;
    border-radius: 2rem;
    margin: 0px auto 20px auto;
}

.card-body {

}
.card-title{
   display: inline;
}

.card-text{
    margin-top: 0.75rem;
    font-family: 'Alata';
}

.btn {
     font-family: 'Alata';
}

.imgStyle{
    border: 1px solid gray;
    float: right;
}